*{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
nav {
    background-color: rgba(27, 27, 175, 0.5);
    text-align: center;
    z-index: 2;
    margin-top: 60px;

}

li {
    display: inline-block;
    margin: 0px 20px;
    list-style: none;
    z-index: 2;

}

li:hover {
    font-weight: bold;
    cursor: pointer;
    z-index: 2;

}

header {
    font-size: 35px;
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium';
    z-index: 2;

}
input{
    border-left: 2px solid grey;
    border-top: 2px solid grey;
    border-right: 2px solid skyblue;
    border-bottom: 2px solid skyblue;
}
td{
    border: 1px solid black;
    width: 50%;
    height: 10%;
}
table{
    background-color: azure;
    border: 1px solid black;
    margin: auto;
    width: 300px;
    height: 300px;
    margin-top: 200px;
}
td, tr{
    margin: 0px;
    padding: 0px;
    padding-left: 5px;

}
td{
    padding-right: 5px;
    padding-left: 5px;

}

#center{
    text-align: center;
}
[type = text] {
    width: 100%;
    /* padding-left: 5px; */
}
[type = date]{
    width: 100%;
}